<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SENAC - Firebasics</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>

  <script src="https://unpkg.com/vue"></script>

  <link rel="Stylesheet" type="text/css" href="bulma.min.css">
</head>

<body>
  <div id="app" class="container">
    <img src="senac.jpg" height="" alt="">
    <div class="columns" v-if="!authUser">
      <div class="column">
        <form @submit.prevent="register">
          <div class="field-label is-normal left">
            <label class="label">REGISTRE-SE</label>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="email" v-model="email" placeholder="Type your email">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="password" v-model="password" placeholder="Pick your password">
            </div>
          </div>
          <button class="button is-primary">Register</button>
        </form>
      </div>

      <div class="column">
        <form @submit.prevent="signIn">
          <div class="field-label is-normal left">
            <label class="label">LOGIN</label>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="email" v-model="email" placeholder="Type your email">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="password" v-model="password" placeholder="Type your password">
            </div>
          </div>
          <button class="button is-primary">Login</button>
        </form>
      </div>
    </div>

    <!-- Usuário logado -->
    <div v-else>
      <div class="columns">
        <div class="column is-one-fifth">
          <img :src="photoURL">
        </div>
        <div class="column">
          <h2 class="subtitle is-4">Signed in as <strong>{{authUser.email}}</strong></h2>
          <p>Hello, {{authUser.displayName || 'friend'}}</p>
          <p>Cerveja favorita: {{authUser.favoriteBeer || 'beer'}}</p>
          <!-- <p>Hello, {{displayName || 'friend'}}</p> -->
          <button class="button is-danger" @click="signOut">Sign out</button>
        </div>
      </div>



      <div class="columns">
        <div class="column">
          <form @submit.prevent="updateProfile">
            <div class="field-label is-normal left">
              <label class="label is-pulled-left">Editar perfil</label>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-info" v-model="displayName" placeholder="Seu nome novo">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-info" v-model="photoURL" placeholder="Link para sua foto">
              </div>
            </div>
            <button class="button is-primary">Update</button>
          </form>
        </div>
        <div class="column">
          <form @submit.prevent="updateEmail">
            <div class="field-label is-normal ">
              <label class="label is-pulled-left">Editar e-mail</label>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-info" v-model="email" placeholder="Seu e-mail novo">
              </div>
            </div>
            <button class="button is-primary">Update</button>
          </form>
        </div>

      </div>
    </div>

    <br /><br /><br /><br /><br /><br />

    <div class="columns">
      <div class="column">
        <form @submit.prevent="updatePassword">
          <div class="field-label is-normal ">
            <label class="label is-pulled-left">Editar senha</label>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="password" v-model="newPassword" placeholder="Sua senha nova">
            </div>
          </div>
          <button class="button is-primary">Update</button>
        </form>
      </div>
      <div class="column">

        <form @submit.prevent="updateCustomDetails">
          <div class="field-label is-normal ">
            <label class="label is-pulled-left">Cerveja Favorita</label>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-info" v-model="favoriteBeer" placeholder="Sua cerveja favorita">
            </div>
          </div>
          <button class="button is-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br />




  </div>
  <script>
    var config = {
      apiKey: "AIzaSyDws1RU8h-qat6E3VeN1Vv25kJhwtbUX0Q",
      authDomain: "senacfdw.firebaseapp.com",
      databaseURL: "https://senacfdw.firebaseio.com",
      projectId: "senacfdw",
      storageBucket: "senacfdw.appspot.com",
      messagingSenderId: "46665025643"
    };
    firebase.initializeApp(config);

    var firebasics = new Vue({
      el: '#app',
      data: {
        email: '',
        password: '',
        displayName: null,
        photoURL: null,
        newPassword: null,
        favoriteFood: null,
        authUser: null,
        favoriteBeer: null,
      },

      computed: {},

      methods: {
        register() {
          firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
            .catch(error => alert('🤕' + error.message))
        },
        signOut() {
          firebase.auth().signOut()
        },
        signIn() {
          firebase.auth().signInWithEmailAndPassword(this.email, this.password)
            .catch(error => alert('🤕' + error.message))
        },
        updateProfile() {
          _self = this;
          this.authUser.updateProfile({
            displayName: this.displayName,
            photoURL: this.photoURL
          }).then(function () {

          }).catch(function (error) {
            // An error happened.
          });

        },
        updateCustomDetails() {
          firebase.database().ref('users').child(this.authUser.uid)
            .update({
              favoriteBeer: this.favoriteBeer
            })
        },
        updateEmail() {
          this.authUser.updateEmail(this.email)
        },
        updatePassword() {
          this.authUser.updatePassword(this.newPassword)
            .then(() => {
              this.newPassword = null
            })
            .catch(error => alert('🤕' + error.message))
        },
        deleteUser() {
          firebase.auth().currentUser.delete().then(function () {
            alert('usuário deletado');
          }).catch(function (error) {
            alert('Ocorreu um erro');
          });

        },
        updateCustomDetails() {
          firebase.database().ref('users').child(this.authUser.uid)
            .push({
              favoriteBeer: this.favoriteBeer
              // favoriteBeer: {
              //   name: 'skol',
              //   ibu: 10
              // }
            }).then(function () {
              alert('cerveja adicionada');
            }).catch(function (error) {
              alert('Ocorreu um erro');
            });
        },
      },

      created() {
        firebase.auth().onAuthStateChanged(user => {
          this.authUser = user
          if (user) {
            this.displayName = user.displayName
            this.photoURL = user.photoURL
            this.email = user.email

            firebase.database().ref('users').child(user.uid).once('value', snapshot => {
              console.log(snapshot.val());

              if (snapshot.val()) {
                snapshot.forEach(function (user) {
                  console.log(user.key);
                  console.log(user.val().favoriteBeer);
                });

                this.favoriteBeer = snapshot.val()
                Vue.set(this.authUser, 'favoriteBeer', this.favoriteBeer)
              }
            })
          }
        })
      }
    })
  </script>

</body>

</html>